<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css" integrity="sha256-16PDMvytZTH9heHu9KBPjzrFTaoner60bnABykjNiM0=" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js" integrity="sha256-XOMgUu4lWKSn8CFoJoBoGd9Q/OET+xrfGYSo+AKpFhE=" crossorigin="anonymous"></script>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      height: 'auto',
      weekends: false,
      eventColor: '#4141a5',
      googleCalendarApiKey: 'AIzaSyDCUlhTzZyJR6SSnu40qVWzxAZX-k8H7-g',
      events: {
        googleCalendarId: 'lapebpac@gmail.com'
      },
      // eventClick: function(info) {
      //   info.jsEvent.preventDefault(); // don't let the browser nagivate
      // }
    });
    calendar.render();
  });

</script>

<div id="calendar"></div>